@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-light-color: #1D4ED8;
    --primary-dark-color: #f50057;
    --light-color: #fafafa;
    --dark-color: #000000;
    --theme-primary-color: light-dark(var(--primary-light-color), var(--primary-dark-color));
    --theme-bg-color: light-dark(var(--light-color), var(--dark-color));
    --theme-text-color: light-dark(var(--dark-color), var(--light-color));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
    color-scheme: light dark;
    transition: background-color 3s, color 3s;
}

/************************************************* 
Navigation Bar
**************************************************/
nav {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed;

    ul {
        width: 100vw;
        padding: 1rem;
        list-style: none;
        display: flex;
        justify-content: space-evenly;


        a {
            padding: 1rem;
            text-decoration: none;
            color: inherit;
            font-size: 1.2rem;
        }

        a:hover {
            background-color: rgba(256, 256, 256, 0.5);
            transition: all 0.3s ease-in;
        }

        #space-between {
            flex: 2;
        }

    }
}

/************************************************* 
Header Container
**************************************************/

#container-header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;

    #row-title {
        text-align: center;

        h1 {
            font-size: 4rem;
            word-spacing: 15px;
        }

        h2 {
            font-size: 2.5rem;
            margin-top: 1rem;
        }

        #design-title {
            span {
                opacity: 0;
                color: var(--theme-primary-color);
                transition: all 0.5s ease;
            }

            .fade {
                opacity: 1;
            }
        }
    }

    #row-summary {
        max-width: 500px;
        margin-top: 3rem;
        text-align: center;
    }

    #row-social-icons {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .social-icon {
            color: var(--theme-text-color);
            font-size: 1.5rem;
        }

        .social-icon:hover {
            color: var(--theme-primary-color);
            transition: all 0.5s ease;
        }
    }
}

.container-header {
    font-size: 3rem;
    text-align: center;
}

/************************************************* 
Skills Container
**************************************************/

#container-skills {
    min-height: 100vh;
    padding: 5rem 3rem;

    #sub-container-skills {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 3rem;

        div {
            width: 30%;
            line-height: 2rem;
            border-radius: 10px;
            padding: 3rem;
            background-color: rgb(127, 127, 127, 0.3);

            h2 {
                font-size: 1.5rem;
                color: var(--theme-primary-color);
            }

            ul {
                font-size: 1.2rem;
                list-style: none;

                li {
                    margin-top: 10px;
                }

                .img-skills-icons {
                    width: 2rem;
                    float: left;
                    margin-right: 15px;
                    border-radius: 3px;
                    padding: .2rem;
                    background-color: rgba(256, 256, 256, 1);
                }
            }
        }
    }
}

/************************************************* 
Experience Container
**************************************************/

#container-experience {
    min-height: 100vh;
    padding: 5rem 3rem;

    #sub-container-experience {
        max-width: 1000px;
        margin: 0 auto;

        li {
            display: flex;
            align-items: start;
            justify-content: space-between;
            line-height: 1.7rem;

            .time-frame {
                width: 25%;
                padding: 1.7rem 0;
            }

            .experience-details {
                width: 75%;
                text-align: justify;

                h3 {
                    color: var(--theme-primary-color);
                    margin-bottom: .5rem;
                }

                h4 {
                    margin-bottom: .3rem;
                }

                span.technologies {
                    margin-left: .2rem;
                    background-color: rgb(127, 127, 127, 0.3);
                    padding: .2rem .4rem;
                    border-radius: 3px;
                }

                div {
                    margin-bottom: 3rem;
                    border-radius: 10px;
                    padding: 1.7rem;
                    background-color: rgb(127, 127, 127, 0.2);
                }
            }
        }
    }
}