@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background: hsla(195, 50%, 95%, 1); */
  background: linear-gradient(135deg, hsla(195, 50%, 95%, 1) 0%, hsla(0, 0%, 100%, 1) 49%, hsla(31, 57%, 93%, 1) 100%);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}